# 额外配置选项，普通用户无需关注

# 日志等级, 级别从低到高依次为 "debug", "info", "warning", "error", "critical"
log_level = "info"

# 是否检查更新
check_update_on_start = true

# 是否允许主界面缩放（界面实际布局是固定大小的）
main_window_resizable = false

# 最大存档数
max_save_count = 61

# readme page
readme_page = "https://github.com/fzls/dnf_calc/blob/master/README.md"

####################全局配置中以上所有配置修改后需要重新启动才能生效###############
####################全局配置中以下所有配置修改后将立即生效########################

# 是否在点击读取存档按钮时关闭结果窗口（若存在）
destroy_result_windows_when_click_load_checklist_button = true

# 是否启用奶系的切装（限单件）搜索方案
enable_buf_huanzhuang_search = true
# 奶系切装排除的部位，用于将特定部位的切装方案排除，如鞋子上有宝珠的话，换装打造成本太高
# 装备部位编码
# 11 上衣  12 裤子   13 头肩 14 腰带 15 鞋子
# 21 手镯  22 项链   23 戒指
# 31 辅助装备 32 魔法石 33 耳环
exclude_buf_huanzhuang_slot = []
#exclude_buf_huanzhuang_slot = ["13", "15"] # 示例配置，表示不考虑头肩和鞋子的切装方案

#####################################################################
#                   全局配置和各个子节配置的分隔点                     #
#####################################################################

# ui相关配置
[ui]

[ui.fonts]

# 指引字体
[ui.fonts.guide_font]
# 设置字体
family = "Microsoft YaHei"
# 字体大小
size = 10
# 字体粗细：normal/bold
weight = "bold"

# 中字体
[ui.fonts.mid_font]
# 设置字体
family = "Microsoft YaHei"
# 字体大小
size = 14
# 字体粗细：normal/bold
weight = "bold"

# 大字体
[ui.fonts.big_font]
# 设置字体
family = "Microsoft YaHei"
# 字体大小
size = 18
# 字体粗细：normal/bold
weight = "bold"

# 背景色配置
[ui.background]
# dark_main的rgb颜色
main = [32, 34, 37]
# dark_sub的rgb颜色
sub = [46, 49, 52]
# dark_blue的rgb颜色
blue = [29, 30, 36]

# ui装备套装内顺序配置，可调整各个数组中元素的顺序来实现下次启动按新的顺序展示套装内装备
# 防具五件套的元素数目为6（神话+5）,其余类别套装的元素数目为4（神话+3）
# 每个元素的第一位表示装备部位，第二位表示是否是神话（0-否，1-是）
#
# 装备部位编码
# 11 上衣  12 裤子   13 头肩 14 腰带 15 鞋子
# 21 手镯  22 项链   23 戒指
# 31 辅助装备 32 魔法石 33 耳环
#
# 套装编码
# 1 大祭司 2 魔法师 3 舞姬 4 阴影 5 裁决者 6 龙血玄黄 7 沙漠 8 灸炎 9 擎天 10 地狱 11 铁匠 12 荆棘 13 不息 14 歧路 15 大自然
# 16 尘封术式 17 破晓 18 三角 19 权能
# 20 军神 21 灵宝 22 时间 23 能量
# 24 黑魔法 25 时空 26 呐喊 27 狂乱
# 28 深渊 29 圣者 30 命运 31 愤怒
# 32 求道者 33 次元 34 天命 35 悲剧
# 36 传说防具
# 37 普雷首饰
# 38 普雷特殊
[ui.set_equipments_order]
# 防具五件套（1-15） 上衣（神话）、上衣、头肩、下装、鞋、腰带
armor = "[(11, 1), (11, 0), (13, 0), (12, 0), (15, 0), (14, 0)]"
# 首饰（16-19） 手镯（神话）、项链、手镯、戒指
jewelry = "[(21, 1), (22, 0), (21, 0), (23, 0)]"
# 特殊装备（20-23） 耳环（神话）、辅助装备、魔法石、耳环
special_equipment = "[(33, 1), (31, 0), (32, 0), (33, 0)]"
# 散件（中）（24-27） 手镯（神话）、下装、手镯、魔法石
spare_parts_mid = "[(21, 1), (12, 0), (21, 0), (32, 0)]"
# 散件（左）（28-31） 上衣（神话）、上衣、项链、辅助装备
spare_parts_left = "[(11, 1), (11, 0), (22, 0), (31, 0)]"
# 散件（右）（32-35） 耳环（神话）、鞋、戒指、耳环
spare_parts_right = "[(33, 1), (15, 0), (23, 0), (33, 0)]"

[multi_threading]
# 设置最大工作线程数，当为0时默认为min(2*逻辑线程数, 32)
max_thread = 0
# 设置dfs的第多少层开始多线程并行计算（从1开始计数，0表示不启用多线程并行计算）
start_parallel_computing_at_depth_n = 2

####################各个子节配置中以上所有配置修改后需要重新启动才能生效###############
####################各个子节配置中以下所有配置修改后将立即生效########################

# 播放gif动画设置
[gif]
# 是否播放gif动画
enable = true
# 每秒播放多少帧
frame_rate = 10

# 是否需要额外将输出结果导出为excel文件
[export_result_as_excel]
# 启用导出excel功能
enable = false
# 导出的文件名
export_file_name = "排行结果.xlsx"
# 导出前N名
export_rank_count = 1000

# 一些需要特殊补正的数据
[data_fixup]
# 由于词条[所有职业Lv1~30全部主动技能Lv+X（特性技能除外）]不能直接对应输出职业的1-45主动技能,需要打个折,可以自行配置折扣率
extra_all_job_all_active_skill_lv_1_30_deal_1_45_rate = 0.8

# 20s打桩数据
[20s_damage]
# 是否显示预估的20s打桩数据
enable = true
# 默认的分数与打桩的比例关系
score_to_damage_rate = "1 / 1095.72 * 3320" # 本人召唤在分数为1095.72%时，修炼场20s的伤害为3320e，先以这个为准给一版供参考的伤害值

# 设定存档对应的分数与打桩的比例关系，若下列数组中配置了当前存档的打桩系数，则会使用该系数，否则使用默认的打桩系数
# 可自行参照下面两个示例添加或删除配置
[[20s_damage.save_name_configs]]
save_name = "示例存档名1"
score_to_damage_rate = "1 / 1095.72 * 6666" # 第二个数字为你当前装备在结果界面显示的分数/100，如显示为109572%，则这里填1095.72，第三个数字则是你用这套装备的20s打桩数据（以亿为单位）

[[20s_damage.save_name_configs]]
save_name = "示例存档名2"
score_to_damage_rate = "1 / 1095.72 * 8888" # 第二个数字为你当前装备在结果界面显示的分数/100，如显示为109572%，则这里填1095.72，第三个数字则是你用这套装备的20s打桩数据（以亿为单位）

# 一些初始值
[initital_data]
# 啥也不穿的满级奶爸的体力与精神
physical_and_mental = "2674 + 50"
# 啥也不穿的满级奶妈和奶萝的智力
intelligence = "2400 - 33 + 50"
# 计算祝福数值时的额外15级转职被动等级（暂时不知道为啥要额外加）
base_job_passive_lv15_bless = 0
# 计算太阳数值时的额外15级转职被动等级（暂时不知道为啥要额外加）
base_job_passive_lv15_taiyang = 3

# 一些常量
[const]
## 奶爸
# 多少体精折合一级祝福
naiba_physical_and_mental_divisor = 630

## 奶妈
# 多少智力折合一级祝福
naima_intelligence_divisor = 675
# 唱歌倍率的一些系数：sing_song_increase_rate = naima_sing_song_increase_rate_base + naima_sing_song_increase_rate_amplification_coef * base_array[index_buf_amplification]
naima_sing_song_increase_rate_base = 1.25
naima_sing_song_increase_rate_amplification_coef = 0.05

## 奶萝
# 多少智力折合一级祝福
nailuo_intelligence_divisor = 665
# # 唱歌倍率的一些系数：sing_song_increase_rate = (nailuo_sing_song_increase_rate_base + nailuo_sing_song_increase_rate_amplification_coef * base_array[index_buf_amplification]) * nailuo_sing_song_increase_rate_final_coef
nailuo_sing_song_increase_rate_base = 1.20
nailuo_sing_song_increase_rate_amplification_coef = 0.05
nailuo_sing_song_increase_rate_final_coef = 1.20

# 奶妈、奶萝站街、进图面板差值（估算用）
naima_nailuo_mianban_delta = 487